@font-face {
  font-family: "comfortaa-regular";
  src: url(./assets/fonts/Comfortaa-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "comfortaa-regular";
}

html,
body {
  margin: 0;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff;
  color: #fff;
  font-family: "comfortaa-regular";
}

@for $i from 5 to 51 {
  .p-#{$i} {
    padding: $i + px;
  }
  .pt-#{$i} {
    padding-top: $i + px;
  }
  .pl-#{$i} {
    padding-left: $i + px;
  }
  .pr-#{$i} {
    padding-right: $i + px;
  }
  .pb-#{$i} {
    padding-bottom: $i + px;
  }
  .m-#{$i} {
    margin: $i + px;
  }
  .mt-#{$i} {
    margin-top: $i + px;
  }
  .ml-#{$i} {
    margin-left: $i + px;
  }
  .mr-#{$i} {
    margin-right: $i + px;
  }
  .mb-#{$i} {
    margin-bottom: $i + px;
  }
}

h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 40px;
  color: #e6e6e6;
}

h3 {
  font-size: 14px;
  line-height: 22px;
  color: #e6e6e6;
}

h4 {
  font-size: 12px;
  line-height: 18px;
  color: #e6e6e6;
}

p.primary {
  font-size: 12px;
  line-height: 18px;
  color: #e6e6e6;
}

p.secondary {
  font-size: 12px;
  line-height: 18px;
  color: #14279b;
}

button.primary {
  background: #14279b;
  border-radius: 5px;
  outline: none;
  border: none;
  font-size: 12px;
  line-height: 15px;
  color: #e6e6e6;
  text-align: center;
  padding: 12px 2em;
  width: 100%;
  cursor: pointer;
  transition: opacity 300ms linear;
  opacity: 1;

  &:disabled {
    opacity: 0.7;
    cursor: no-drop;
  }
}

button.secondary {
  outline: none;
  border: none;
  font-size: 12px;
  line-height: 15px;
  color: #14279b;
  text-align: center;
  padding: 12px 2em;
  width: 100%;
  background: #e6e6e6;
  border-radius: 2px;
}
